*{
    box-sizing: border-box;
}
body {
    background-image: url(../images/gravel.png);
    background-position: center;
    background-size: 100% 100%;
    background-attachment: fixed;
    padding: 0;
    margin: 0;
    color: #777777;
}
.navbar {
    background-color: #ffffff ! important;
    font-family: 'Georgia', 'Times', Times New Roman, serif;
    height: 60px;
    padding: 0px 16px;
    border: 1px solid #dddddd;
}
.navbar-brand {
    background-color: #4aaaa5;
    color: #ffffff ! important;
    padding:5px;
    padding-top:10px;
    height: 100%;
    margin-left:50px;
}
ul {
    margin-right:50px;
}
a {
    color: #777777 ! important;
}
a:hover {
    background-color: #4aaaa5; 
}
#about {
    margin-top:50px;
    height: auto;
    background-color: #ffffff;
    padding-right:50px;
    margin-bottom: 50px;
}
h4 {
    color: #4aaaa5;
    margin-bottom:20px;
    margin-top:20px;
}
#line_line {
    padding-left: 15px;
    padding-right: 15px;
}
#line {
    height:2px;
    padding: 0 15px;
    background-color: #777777;
}
#image_text {
    margin-top:20px;
}
#image_me {
    padding-right: 0px;
    margin-bottom: 20px;
}
p {
    line-height: 30px;
}
#foot_line {
    height:5px;
    background-color: #4aaaa5;
}
#foot {
    height: 60px;
    background-color: #777777;
    color: #ffffff;
    text-align: center;
    padding-top:15px;
    overflow: hidden;
}
#wrapper {
    padding: 0 30px;
    padding-bottom: 30px;
    height: auto;
}
.foot-image-div{
    height:15%;
    width: 15%;
}
.foot-image{
    widows: 30px;
    height: 30px;
    float:  left;
    
}

/* Portfolio Page */

.image-text-div{
    position: relative;
    height: 200px;
    width: 300px;
    padding: 0px;
    margin: 15px;
}
.port-image {
    height:100%;
    width:100%;
}
.image-text-block {

    padding-top: 8px;
    color: whitesmoke;
    position: absolute;
    bottom: 20px;
    background-color: #4aaaa5;
    height: 40px;
    width: 100%;
    text-align: center;
    font-weight: bold;
}


/* Contact Page */

textarea {
    width: 98%;
}
button {
    margin-top: 20px;
    width: 100px;
    height: 40px;
    background-color: #4aaaa5;
}
button:hover {
    background-color: aquamarine;
}
button:active {
    background-color: aqua;
}